*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom, #4B0019, #000000);
    position: relative;
}
p{
    color: white;
}
.imagem{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.imagem img{
    height: 300px;
    width: 500px;
    border-radius: 20%;
    border:5px solid #000000db;
}
.text1{
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
}
.text2 {
    color: white;
    display: flex;
    text-align: left;
    justify-content: center;
}
.header{
    display: flex;
    justify-content: space-between;
    
}

.container {
    width: 100%;
    min-height: 100px;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.card {
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(#333, #333);
    transition: all .5s;
}

.card:hover {
    background-image: linear-gradient(#2b2b2b, #000000);
}

.card .img {
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-size: cover;
    background-position: center;
    transition: all .5s;
    z-index: 2;
    position: relative;
    opacity: .8;
}

.card .img span {
    text-transform: capitalize;
    font-size: 23px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1px;
    transition: all .4s ease;
}


.card:hover .img {
    width: 30px;
    opacity: 1;
}

.card:hover .img span {
    font-size: 28px;
}

.card .content {
    padding: 0px 20px;
    height: 0;
    opacity: 0;
    transition: all .5s;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transform: translateY(30px);
}

.card:hover .content{
    height: 320px;
    padding: 20px;
    opacity: 1;
    transform: translateY(0);
}

.card .content p {
    margin: 0;
}

.card .content .title {
    font-size: 20px;
    font-weight: 600;
}

.card .content .desc {
    font-size: 14px;
    font-weight: 100;
    opacity: .8;
    margin-top: 8px;
}

.card .arrow {
    padding: 15px;
    transform: rotate(-180deg);
    transition: all .5s;
}

.card:hover .arrow {
    transform: rotate(0);
}

.card .arrow span {
    font-size: 24px;
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}